h1 {
    font-family: 'Courier New', Courier, monospace;
    color: midnightblue;
    text-align: center;
}

li{ 
    text-align: center;
    color:azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 10px;
}

.div {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    border: 4px solid midnightblue;
    background-color:darkslateblue;
    border-radius: 25px;

}

.href {
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7566f4;
    font-style: italic;
    padding: 2px;
    border-radius: 4px;
}

body {
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}
